#team-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 200px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#team-picker {
    padding: 1em;
}

/* img {
    border-radius: 50%;
    height: 20px;
} */

#menu button {
    background-color: rgb(159, 221, 237);
}