#menu {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: center;
}

#team-picker {
    margin: 50px;
}

.title {
    color: blue;
    background-color: whitesmoke;
}

#team-id {
    display: flex;
    justify-content: center;
}

#menu button {
    background-color: rgb(208, 208, 208, 0.0);
}