/* .profile-view {
    display: inline-block;
    float: left;
} */
/*
.profile-side-panel {
    border-left: solid rgb(0, 60, 97) 5 px;
    background-color: rgb(208, 208, 208);
    flex: 0 0 fit-content;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
}

.profile-side-panel-toggle-wrapper {
    overflow: visible;
    position: relative;
    left: -100px;
    top: 10px;
    width: 0;
    height: 0;
}

.profile-side-panel-toggle { */
    /*border: solid black 1px;*/
    /* border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    background-color: rgb(208, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
}

.side-panel {
    padding: 10px;
    width: 280px;
    overflow: scroll;
} */

.twitter-feed {
background-color: rgb(208, 208, 208, 0.5);
}

.profile-view {
    min-height: 250px;
    max-height: 75vh;
    position: relative;
    min-width: 100%;
    background-color: rgb(208, 209, 208, 0.0);
    display: flex;
    justify-content: flex-start;
    padding-right: 80px;
    overflow: scroll;
}

/* .profile-main-area {
    width: 0px;
    margin: 400px auto;
} */

.profile-side-panel {
    border-left: solid black 0px;
    height: auto;
    background-color:rgb(208, 209, 208);
    flex: 0 0 fit-content;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
}

.profile-side-panel-toggle {
    border-right-width: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    box-shadow: -5px 1px 4px 1px rgba(0,0,0,0.45);
    background-color: rgb(208, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
}

/* NOTE: Special handing to put the toggle OUTSIDE the details panel so it does
   not affect the layout (content offset, still showing background when closed)
*/
.profile-side-panel-toggle-wrapper {
    overflow: visible;
    position: relative;
    left: -80px;
    top: 10px;
    width: 0;
    height: 0;
}

/* LIST */

/* .profile-list {
    padding: 25px;
    background-color: white;
    border-radius: 1rem;
} */

.profile-list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    border-radius: 1rem;
    padding: 20px;
    margin: 25px 10px;
    width: 150px;
    height: 150px;
    overflow: visible;
}
.profile-list-item.selected {
    background-color: rgb(208, 209, 208);
}

.profile-list-item-photo {
    width: 150px;
    height: 150px;
    margin-bottom: 12px;
}

/* DETAILS */

.profile-details {
    padding: 10px;
    width: 280px;
    overflow: scroll;
}

.profile-info {
    font-weight: bold;
}

.profile-price {
    font-weight: bold;
    font-size: x-large;
}

li.profile-details-list-item {
    margin-bottom: 8px;
    list-style-type: square;
}