#home-page-background{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

#home-container {
    width: 100vw;
    height: 90vh;
}

#home-page-banner {
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}