#home-page-background{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

#home-container {
    width: 95vw;
    height: 90vh;
}
img {
    width:100%;
    height: 100%;
}

#home-page-banner {
    width: 95%;
    background-size: cover;
    display: flex;
    flex-direction: column;
}