.badge-div {
    width: 100vw;
    display: flex;
    justify-content: center;
}


.badge-list {
    margin: 50px;
    display: grid;
    grid-template-columns: 165px 165px 165px 165px 165px 165px;
    grid-template-rows: 165px 165px 165px 165px 165px;
    grid-gap: 2%;
    justify-content: center;
    color: black;
}

.badge {
    background-color: black;
    display: flex;
    justify-content: center;
}