#stadium-page-body {
    background-color: black;
}

.stadium-list {
    width: 90vw;
    display: flex;
    justify-content: center;
    color: whitesmoke
}

.stadium-icons {
    display: flex;
    justify-content: center;
    margin: 50px;
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    color: white;
}

.stadium-list button {
    width: 100px
}

.stadium-photo {
    width: 100px;
    height: 60px;
}