#stadium-page-background {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#stadium-page-body {
    background-color: black;
    width: 95vw;
}

#map-and-button {
    display: flex;
    justify-content: center;
}

.stadium-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    -webkit-text-stroke: 2px black;
}

.stadium-icons {
    display: flex;
    justify-content: center;
    margin: 50px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: .8px white;
}

.header {
    display: flex;
    align-items: center;
    color: white;
}

.stadium-list button {
    width: 100px
}

.stadium-photo {
    width: 100px;
    height: 60px;
}

.unvisited {
    filter: brightness(.5) grayscale(.75);
}