.bottom-navbar {
    width: 100vw;
    height: 95px;
}

.nav__list {
    padding-left: 40%;
    padding-right: 40%;
    display: flex;
    justify-content: space-around;
}

.github-button {
  color: white;
  font-size: 65px;
  cursor: pointer;
  transition: all .45s ease;
}

.github-button:hover {
  color: darkgray
}


.linkedin-button {
  color: white;
  font-size: 65px;
  cursor: pointer;
  transition: all .45s ease;
}

.linkedin-button:hover {
  color: rgb(120, 119, 119)
}
